<div class="footer">
  <%if user_signed_in? %>
    <%= link_to t("home.logout_footer_link") , destroy_user_session_path, method: :delete, class: "login-footer-link" %>
  <% else %>
    <%= link_to t("home.login_footer_link"), new_user_session_path, class: "login-footer-link" %>
  <% end %>

  <p class="useful-link"><%= t("home.useful_links")  %></p>
  <ul class="useful-link">
    <li class= "useful-link"> <%= link_to t("home.link_one"), 'https://www.msf.org.uk/', target: :_blank, rel: "noopener noreferrer", class: "useful-link" %></li>
    <li class="useful-link"><%= link_to t("home.link_two"), 'https://www.nhs.uk/', target: :_blank, rel: "noopener noreferrer", class: "useful-link" %></li>
    <li class="useful-link"><%= link_to t("home.link_three"), 'https://www.who.int/', target: :_blank,  rel: "noopener noreferrer", class: "useful-link" %></li>
  </ul>

  <%= icon('fab', 'instagram') %>
  <%= icon('fab', 'facebook') %>
  <%= icon('fab', 'twitter') %>
  <%= link_to "/" do %>
    <%= image_tag 'ECC Logo.png', class: "footer-logo", alt: "Essentia Critical Care Logo" %>
  <% end %>

  <p class="footer-disclaimer"><%= t("home.disclaimer") %></p>
</div>
