<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag 'ECC Logo.png' %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <%= link_to t('home.about_link'), about_path, class: "nav-link" %>
      </li>
      <% @navlinks.each do |f|  %>
        <li><%= link_to f.title,  navbar_base_folder_path(f), class: "nav-link" %></li>
      <% end %>
      <li class="nav-item">
          <%= link_to t('home.contact_link'), contact_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "English", url_for( :locale => 'en'  ), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Laos", url_for( :locale => 'lo' ), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </li>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
