<div class=" navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag 'ECC Logo.png' %>
    <% end %>




  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <%= link_to t('home.about_link'), about_path, class: "nav-link" %>
      </li>
      <% @navlinks.each do |f|  %>
        <li><%= link_to f.title,  navbar_base_folder_path(f), class: "nav-link" %></li>
      <% end %>
      <li class="nav-item">
          <%= link_to t('home.contact_link'), contact_path, class: "nav-link" %>
      </li>
      <%if user_signed_in? %>
        <% @hidden_navlinks.each do |h| %>
          <li class="nav-item"><%= link_to h.title,  secret_navbar_base_folder_path(h), class: "nav-link" %></li>
        <% end %>
      <% end %>
      <li class="nav-item">
        <%= link_to "English", url_for( :locale => 'en'  ), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Laos", url_for( :locale => 'lo' ), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </li>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
