<div class="main-nav">
  <div>
    <ul class="navbar">
      <%= link_to root_path do %>
        <%= image_tag 'ECC Logo.png', width: 130, class: "navbar-left-item", alt: "Essentia Critical Care Logo" %>
      <% end %>
      <% if @navlinks.count == 0 %>
      <% else %>
        <% @navlinks.each do |f|  %>
          <li class="navbar-left-item"><%= link_to f.title.upcase,  navbar_base_folder_path(f), class: "navbar-text nav-hide-on-mobile"%></li>
        <% end %>
      <% end %>
      <li class="navbar-left-item">
        <%= link_to t('home.about_link_new'), about_path, class: "navbar-text nav-hide-on-mobile"%>
      </li>
      <li class="navbar-left-item">
        <%= link_to t('home.contact_link'), contact_path, class: "navbar-text nav-hide-on-mobile" %>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar">
      <%if user_signed_in? %>
        <% if @hidden_navlinks.count == 0 %>
        <% else %>
          <% @hidden_navlinks.each do |h| %>
            <li class="navbar-left-item"><%= link_to h.title.upcase,  secret_navbar_base_folder_path(h), class: "navbar-text nav-hide-on-mobile"%></li>
          <% end %>
        <% end %>
      <% end %>
      <li class="navbar-right-item">
        <%= link_to "English", url_for( :locale => 'en'  ), class: "navbar-text #{@english_button} " %>
      </li>
      <li class="navbar-right-item">
        <%= link_to "ພາສາລາວ", url_for( :locale => 'lo' ), class: "navbar-text #{@lao_button}" %>
      </li>
    </ul>
  </div>
</div>
