<div class="center-list">
  <ul class="home-page-center-links">
    <h3 class="quick-links-title"><%= t('home.quick_links') %></h3>
    <% if user_signed_in? %>
      <% if @hidden_navlinks.count == 0 %>
      <% else %>
        <% @hidden_navlinks.each do |h| %>
          <%= link_to  secret_navbar_base_folder_path(h), class: "remove-link-easy" do%>
            <div class="show-cat-box-home">
              <p class="easy-link-title"><%=  h.title.upcase %></p>
              <%= image_tag('white-right-ollie.svg', class: "ollie-svg", alt: "icon") %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if @navlinks.count == 0 %>
    <% else %>
      <% @navlinks.each do |f|  %>
        <%= link_to  navbar_base_folder_path(f), class: "remove-link-easy" do%>
          <div class="show-cat-box-home">
            <p class="easy-link-title"><%=  f.title.upcase %></p>
            <%= image_tag('white-right-ollie.svg', class: "ollie-svg", alt: "icon") %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to  about_path, class: "remove-link-easy" do%>
        <div class="show-cat-box-home">
          <p class="easy-link-title"><%=  t('home.about_link') %></p>
          <%= image_tag('white-right-ollie.svg', class: "ollie-svg", alt: "icon") %>
        </div>
    <% end %>
    <%= link_to  contact_path, class: "remove-link-easy" do%>
        <div class="show-cat-box-home">
          <p class="easy-link-title"><%=  t('home.contact_link') %></p>
          <%= image_tag('white-right-ollie.svg', class: "ollie-svg", alt: "icon") %>
        </div>
    <% end %>
  </ul>
</div>


