<div class="widescreen-item-wrapper-partial">
  <% if @navlinks.count == 0 %>
  <% else %>
    <% @navlinks.each do |f|  %>
      <div class="item-wrapper-partial">
        <h1 class="home-page-center-list-item"><%= link_to f.title.upcase,  navbar_base_folder_path(f), class: "home-page-center-link-partial" %></h1>
        <ul class="wide-screen-list">
          <% f.categories.each do |c| %>
            <%= link_to category_path(c), class: "remove-a-style-show-nav" do%>
              <div class="show-cat-box">
                <p class="navbase-show-subcatergory-link"> <%= c.title %></p>
                <%= image_tag('right-ollie.svg', class: "ollie-svg") %>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <div class="item-wrapper-partial">
    <h1 class="home-page-center-list-item"><%= link_to t('home.about_link'),  about_path, class: "home-page-center-link-partial" %></h1>
    <%= link_to about_path, class: "remove-a-style-show-nav" do%>
      <div class="show-cat-box">
        <p class="navbase-show-subcatergory-link"><%=  t('home.about_link_short') %></p>
        <%= image_tag('right-ollie.svg', class: "ollie-svg") %>
      </div>
    <% end %>
    <%= link_to contact_path, class: "remove-a-style-show-nav" do%>
      <div class="show-cat-box">
        <p class="navbase-show-subcatergory-link"><%=  t('home.contact_link_short')%></p>
        <%= image_tag('right-ollie.svg', class: "ollie-svg") %>
      </div>
    <% end %>
  </div>
</div>
