<div class="global-content-wrap">
  <div class="sub-navbar">
    <div class="left-links-sub-nav">
      <%= image_tag('greater-than.svg', class: "ollie-less-svg", alt: "icon") %>
      <span class="subnav-safety-wrap">
        <%= link_to "#{t('home.subnav_backto')} #{t('home.subnav_title')}", root_path, class: "sub-nav-home-text" %>
      </span>
    </div>
    <%= image_tag('burger-white-ollie.svg', class: "ollie-svg side-bar-trigger", alt: "icon") %>
  </div>
  <%= render 'shared/top_drop_nav' %>

  <div class="home-page-body-container">
    <div class="wide-screen-resizer-about">
      <div class="center-contact-image">
        <div class="contact-page-image" style="background-image: url(https://res.cloudinary.com/dh3f0i9jr/image/upload/c_scale,h_565,q_auto,f_auto/v1586804363/sKEyyEYTNWaiPe2tW8xcYMQQ.jpg)"></div>
      </div>
      <h1 class="about-page-title"><%= t('about.title') %></h1>
      <p class="about-page-description"><%= t('about.description') %></p>
    </div>
  </div>
</div>


