<div class="sub-navbar">
  <div class="left-links-sub-nav">
    <%= link_to t('home.subnav_title'), root_path, class: "sub-nav-home-text" %>
    <%= icon('fas', 'greater-than') %>
    <span class="subnav-safety-wrap">
      <%= link_to t('home.subnav_contact_title'), contact_path, class: "sub-nav-home-text" %>
    </span>
  </div>
  <%= icon('fas', 'bars') %>
</div>

<h1><%= t('contact.title') %></h1>
<p><%= t('contact.description') %></p>
</p>
