<div class="global-content-wrap">
  <div class="sub-navbar">
    <div class="left-links-sub-nav">
      <%if user_signed_in? %>
        <%= link_to t("home.logout_footer_link") , destroy_user_session_path, method: :delete, class: "login-footer-link-top" %>
      <% else %>
        <%= link_to t("home.login_footer_link"), new_user_session_path, class: "login-footer-link-top" %>
      <% end %>
    </div>
    <%= image_tag('burger-white-ollie.svg', class: "ollie-svg side-bar-trigger", alt: "icon") %>
  </div>
  <%= render 'shared/top_drop_nav' %>
  <div class="scope-test">
    <style scoped>
      .test-load-banner {
      background-image: none;
      }
      @media screen and (min-width: 769px) {
        .test-load-banner {
        <% if user_signed_in?  %>
        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path('landing-trainer.jpg')%>);
        <% else %>
        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path('landing1.jpg')%>);
        <% end %>
        background-size: cover;
        }
      }
    </style>
    <div class="home-category-image-banner test-load-banner">
       <%if user_signed_in? %>
        <h1 class="home-page-title-wide"><%= t('home.trainer_view') %></h1>
        <div class="login-hint-wrapper-banner">
          <h4 class="home-page-welcome-wide"><%= t('home.trainer_view_welcome') %></h4>
        </div>
          <%= render partial: "hidden_screen_links" %>
          <h2 class="quick-links-title-three-new"><%= t('home.essential') %></h2>
          <%= render partial: "wide_screen_home"%>
      <% else %>
        <h1 class="home-page-title-wide"><%= t('home.title') %></h1>
        <div class="login-hint-wrapper-banner">
          <h4 class="home-page-welcome-wide"><%= t('home.welcome') %></h4>
        </div>
        <%= render partial: "wide_screen_home"%>
        <%= render partial: "mobile_screen_home"%>
      <% end %>
    </div>

    <div class="home-page-body-container-home">
      <div class="wide-screen-resizer-home">
        <%if user_signed_in? %>
            <p class="logged-in-message"><%= t('home.you_are_logged') %></p>

        <% end %>

        <%if user_signed_in? %>
          <h1 class="home-page-title"><%= t('home.trainer_view') %></h1>
          <div class="login-hint-wrapper">
            <h4 class="home-page-welcome"><%= t('home.trainer_view_welcome') %></h4>
          </div>
        <% else %>
          <h1 class="home-page-title"><%= t('home.title') %></h1>
          <div class="login-hint-wrapper">
            <h4 class="home-page-welcome"><%= t('home.welcome') %></h4>
          </div>
        <% end %>


        <%= render partial: "mobile_easy_links"%>
        <%if user_signed_in? == false %>
          <div class="login-hint-wrapper">
            <h5 class="login-access-hint"><%= t('home.login_hint') %></h5>
          </div>
        <% else %>
          <h2 class="quick-links-title-two"><%= t('home.resources_training') %></h2>
          <%= render partial: "hidden_screen_links" %>
          <%= render partial: "wide_screen_home"%>
          <h2 class="quick-links-title-three"><%= t('home.essential') %></h2>
        <% end %>
        <%= render partial: "mobile_screen_home"%>
      </div>
    </div>
  </div>
</div>
