<div class="sub-navbar">
  <%= link_to t('home.subnav_title'), root_path, class: "sub-nav-home-text" %>
  <%= icon('fas', 'bars') %>
</div>
<div class="home-page-body-container">
  <h1 class="home-page-title"><%= t('home.title') %></h1>
  <h4 class="home-page-welcome"><%= t('home.welcome') %></h4>
  <div class="center-list">
    <ul class="home-page-center-links">
      <li class="home-page-center-list-item"><%= link_to t('home.about_link'), about_path, class: "home-page-center-link" %></li>
      <% @navlinks.each do |f|  %>
        <li class="home-page-center-list-item"><%= link_to f.title,  navbar_base_folder_path(f), class: "home-page-center-link" %></li>
      <% end %>
      <li class="home-page-center-list-item"><%= link_to t('home.contact_link'), contact_path, class: "home-page-center-link" %></li>
    </ul>
  </div>

  <%if user_signed_in? == false %>
    <h5 class="login-access-hint"><%= t('home.login_hint') %></h5>
    <div class="center-list">
      <%= link_to t('home.login_title'), new_user_session_path, class: "bottom-home-page-center-link" %>
    </div>
  <% else %>
    <h5 class="login-access-hint"><%= t('home.logged_in_hint') %></h5>
      <div class="center-list">
      <% @hidden_navlinks.each do |h| %>
        <%= link_to h.title.upcase,  secret_navbar_base_folder_path(h), class: "hidden-home-page-center-link"  %>
      <% end %>
      </div>
  <% end %>
</div>
