<div class="global-content-wrap">
  <div class="sub-navbar">
    <div class="left-links-sub-nav">
      <%= image_tag('greater-than.svg', class: "ollie-less-svg", alt: "icon") %>
      <span class="subnav-safety-wrap">
        <%= link_to "#{t('home.subnav_backto')} #{@secret_category.secret_navbar_base_folder.title.upcase}", secret_navbar_base_folder_path(@secret_category.secret_navbar_base_folder), class: "sub-nav-home-text" %>
      </span>
    </div>
    <%= image_tag('burger-white-ollie.svg', class: "ollie-svg side-bar-trigger", alt: "icon") %>
  </div>
  <%= render 'shared/top_drop_nav' %>
  <div class="scope-test">
    <style scoped>
      .test-load-banner {
      background-image: none;
      }
      @media screen and (min-width: 769px) {
        .test-load-banner {
        background-image: url(<%= cl_image_path(@secret_category.secret_navbar_base_folder.banner.key,  quality: "auto", :crop => :fill, :fetch_format=>:auto)  %>);
        }
      }
    </style>
    <div class="category-image-banner test-load-banner"></div>
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
  <div class="home-page-body-container">
    <div class="wide-screen-resizer">
      <h5 class="category-parent-title"><%= @secret_category.secret_navbar_base_folder.title.upcase %></h5>
      <h1 class="category-show-title"><%= @secret_category.title %></h1>
      <p class="category-updated-info"><%= t('sub_category.updated') %> <%= @secret_category.updated_at.strftime("%B %d, %Y - %R")  %></p>
      <p class="category-show-description"><%= @secret_category.description %></p>
      <% if @secret_category.has_secret_subcategory %>
          <% if @secret_category.secret_sub_categories.count == 0 %>
          <% else %>
            <div class="cats-wrap-box">
              <% @secret_category.secret_sub_categories.each do |c| %>
                <%= link_to secret_sub_category_path(c), class: "remove-a-style-show-nav" do%>
                  <div class="show-cat-box">
                    <p class="navbase-show-subcatergory-link"> <%= c.title %></p>
                    <%= image_tag('right-ollie.svg', class: "ollie-svg", alt: "icon") %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
      <% else %>
        <%= render partial: "render_selected_resources", locals: { resources: @all_resources } %>
      <% end %>
    </div>
  </div>
</div>
