<div class="sub-navbar">
  <div class="left-links-sub-nav">
    <%= icon('fas', 'less-than') %>
    <span class="subnav-safety-wrap">
      <%= link_to "#{t('home.subnav_backto')} #{@secret_category.secret_navbar_base_folder.title}", secret_navbar_base_folder_path(@secret_category.secret_navbar_base_folder), class: "sub-nav-home-text" %>
    </span>
  </div>
  <%= icon('fas', 'bars') %>
</div>

<%= cl_image_tag(@secret_category.secret_navbar_base_folder.banner.key, width: 200, quality: 10) %>
<h5><%= @secret_category.secret_navbar_base_folder.title %></h5>
<h1><%= @secret_category.title %></h1>
<p><%= @secret_category.description %></p>
<% if @secret_category.has_secret_subcategory %>
  <% @secret_category.secret_sub_categories.each do |c| %>
    <p><%= link_to c.title, secret_sub_category_path(c) %></p>
  <% end %>
<% else %>
<%= render partial: "render_selected_resources", locals: { resources: @all_resources } %>
<% end %>
