<div class="global-content-wrap">
  <div class="sub-navbar">
    <div class="left-links-sub-nav">
      <%= image_tag('greater-than.svg', class: "ollie-less-svg") %>
      <span class="subnav-safety-wrap">
        <%= link_to "#{t('home.subnav_backto')} #{t('home.subnav_title')}", root_path, class: "sub-nav-home-text" %>
      </span>
    </div>
    <%= image_tag('burger-white-ollie.svg', class: "ollie-svg side-bar-trigger") %>
  </div>
  <%= render 'shared/top_drop_nav' %>
  <div class="scope-test">
    <style scoped>
      .test-load-banner {
      background-image: none;
      }
      @media screen and (min-width: 769px) {
        .test-load-banner {
        background-image: url(<%= cl_image_path(@secret_navbar_base_folder.banner.key,  quality: "auto", :crop => :fill, :fetch_format=>:auto)  %>);
        }
      }
    </style>
    <div class="category-image-banner test-load-banner"></div>
  </div>

  <div class="home-page-body-container">
    <div class="wide-screen-resizer">
      <h1 class="navbase-show-title"><%= @secret_navbar_base_folder.title.upcase %></h1>
      <p class="nav-base-updated-info">Updated On: <%= @secret_navbar_base_folder.updated_at.strftime("%B %d, %Y - %R")  %></p>
      <p class="navbase-show-description"><%= @secret_navbar_base_folder.description %></p>
      <% if @secret_navbar_base_folder.secret_categories.count == 0 %>
      <% else %>
        <div class="cats-wrap-box">
          <% @secret_navbar_base_folder.secret_categories.each do |c| %>
            <%= link_to secret_category_path(c), class: "remove-a-style-show-nav" do%>
              <div class="show-cat-box">
                <p class="navbase-show-subcatergory-link"> <%= c.title %></p>
                <%= image_tag('right-ollie.svg', class: "ollie-svg") %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

