<div class="mixed-resources-wrapper">
  <% resources.each do |r| %>
    <% if r.class.name == "Pdf" %>
      <div class="pdf-resource-wrapper">
        <h5 class="pdf-resource-title"><%= r.title %></h5>
        <p class="pdf-resource-metadata"><%= r.document.content_type.split('/').last.upcase %> - <%= (r.document.byte_size*0.000001).round(2) %> MB - <%= r.document.created_at  %> </p>
        <p><%= link_to t('sub_category.view_resource'), r.document.service_url, target: :_blank, class: "pdf-resource-view-button" %> <%= link_to t('sub_category.download_resource'), cl_image_path(r.document.key, :flags => :attachment, fl_attachment: "This is what is should be called"), class: "pdf-resource-download-button" %>  </p>
      </div>
    <% elsif r.class.name == "Video" %>
      <div class="pdf-resource-wrapper">
        <h5 class="pdf-resource-title"><%= r.title %></h5>
        <p class="pdf-resource-metadata">VIMEO LINK - <%= r.created_at  %></p>
        <p class='js-modal-btn pdf-resource-stream-button' data-video-id= "<%= r.url_code  %>" data-ollie-name= "<%= r.title %>" ><%= t('sub_category.stream_video') %></p>
      </div>
    <% elsif r.class.name == "Infographic" %>
      <div class="pdf-resource-wrapper">
        <h5 class="pdf-resource-title"><%= r.title %></h5>
        <p class="pdf-resource-metadata"><%= r.photo.content_type.split('/').last.upcase %> <%= (r.photo.byte_size*0.000001).round(2) %> MB - <%= r.photo.created_at  %> </p>
        <p><%= link_to t('sub_category.view_resource'), r.photo.service_url, target: :_blank, class: "pdf-resource-view-button" %> <%= link_to t('sub_category.download_resource'), cl_image_path(r.photo.key, :flags => :attachment, fl_attachment: "This is what is should be called"), class: "pdf-resource-download-button" %>  </p>
      </div>
    <% end %>
  <% end %>
</div>
