<h1>Sub Category Show</h1>
<%= cl_image_tag(@sub_category.category.navbar_base_folder.banner.key, width: 200) %>
<h5><%= @sub_category.category.navbar_base_folder.title %></h5>
<h5><%= link_to @sub_category.category.title, category_path(@sub_category.category) %></h1>
<h1><%= @sub_category.title %></h1>
<p><%= @sub_category.description %></p>
<% @sub_category.pdfs.each do |p| %>
 <p><%= link_to p.title %></p>
 <p><%= p.document.service_url %></p>
<% end %>
<% @sub_category.infographics.each do |i| %>
<p><%= link_to i.title, i.photo.service_url %></p>
  <p><%= cl_image_tag(i.photo.key, width: 200, quality: 10) %></p>
<% end %>
