<div class="global-content-wrap">
  <div class="sub-navbar">
    <div class="left-links-sub-nav">
      <%= image_tag('greater-than.svg', class: "ollie-less-svg") %>
      <span class="subnav-safety-wrap">
        <%= link_to "#{t('home.subnav_backto')} #{t('home.subnav_title')}", root_path, class: "sub-nav-home-text" %>
      </span>
    </div>
    <%= image_tag('burger-white-ollie.svg', class: "ollie-svg side-bar-trigger") %>
  </div>
  <%= render 'shared/top_drop_nav' %>
  <div class="home-page-body-container">
    <div class="wide-screen-resizer-devise">
      <h2 class="login-title"><%= t("home.session_login") %></h2>
      <p class="login-description"> <%= t("home.login_devise_description") %> </p>
      <%= render 'shared/flashes' %>
      <div class="log-in-form-wrap">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :username,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "username", :class => 'form-label-styling' } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password", :class => 'form-label-styling' } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, t(".sign_in"), class: "login-button-form" %>
          </div>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
