<div class="sub-navbar">
  <div class="left-links-sub-nav">
    <%= icon('fas', 'less-than') %>
    <span class="subnav-safety-wrap">
      <%= link_to "Back to #{t('home.subnav_title')}", root_path, class: "sub-nav-home-text" %>
    </span>
  </div>
  <%= icon('fas', 'bars') %>
</div>


<%= cl_image_tag(@navbar_base_folder.banner.key, width: 200) %>
<h1><%= @navbar_base_folder.title %></h1>
<p><%= @navbar_base_folder.updated_at %></p>
<p><%= @navbar_base_folder.description %></p>
<% @navbar_base_folder.categories.each do |b| %>
  <p><%= link_to b.title, category_path(b) %></p>
  <p><%= b.description %></p>
<% end %>
