<div class="global-content-wrap">
  <div class="sub-navbar">
    <div class="left-links-sub-nav">
      <%= icon('fas', 'less-than') %>
      <span class="subnav-safety-wrap">
        <%= link_to "#{t('home.subnav_backto')} #{t('home.subnav_title')}", root_path, class: "sub-nav-home-text" %>
      </span>
    </div>
    <%= icon('fas', 'bars side-bar-trigger') %>
  </div>
  <%= render 'shared/top_drop_nav' %>
  <div class="scope-test">
      <style scoped>
        .test-load-banner {
        background-image: none;
        }
        @media screen and (min-width: 769px) {
          .test-load-banner {
          background-image: url(<%= cl_image_path(@navbar_base_folder.banner.key,  quality: "auto", :crop => :fill, :fetch_format=>:auto)  %>);
          }
        }
      </style>
    <div class="category-image-banner test-load-banner"></div>
  </div>
  <div class="home-page-body-container">
    <div class="wide-screen-resizer">
      <h1 class="navbase-show-title"><%= @navbar_base_folder.title.upcase %></h1>
      <p class="nav-base-updated-info"><%= t('sub_category.updated') %> <%= @navbar_base_folder.updated_at.strftime("%B %d, %Y - %R")  %></p>
      <p class="navbase-show-description"><%= @navbar_base_folder.description %></p>
      <% if @navbar_base_folder.categories.count == 0 %>
      <% else %>
        <div class="cats-wrap-box">
          <% @navbar_base_folder.categories.each do |c| %>
            <%= link_to category_path(c), class: "remove-a-style-show-nav" do%>
              <div class="show-cat-box">
                <p class="navbase-show-subcatergory-link"> <%= c.title %></p>
                <%= icon('fas', 'arrow-right') %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


