<div class="global-content-wrap">
  <div class="sub-navbar">
    <div class="left-links-sub-nav">
      <%= icon('fas', 'less-than') %>
      <span class="subnav-safety-wrap">
        <%= link_to "#{t('home.subnav_backto')} #{t('home.subnav_title')}", root_path, class: "sub-nav-home-text" %>
      </span>
    </div>
    <%= icon('fas', 'bars') %>
  </div>

  <div class="category-image-banner"  loading="lazy" style="background-image: url(<%= cl_image_path(@navbar_base_folder.banner.key,  quality: "auto", :crop => :fill, :fetch_format=>:auto)  %>)">
  </div>
  <div class="home-page-body-container">
    <h1 class="navbase-show-title"><%= @navbar_base_folder.title %></h1>
    <p class="nav-base-updated-info"><%= @navbar_base_folder.updated_at %></p>
    <p class="navbase-show-description"><%= @navbar_base_folder.description %></p>
    <div class="cats-wrap-box">
      <% @navbar_base_folder.categories.each do |b| %>
          <%= link_to category_path(b), class: "remove-a-style-show-nav" do %>
        <div class="show-cat-box">
          <p class="navbase-show-subcatergory-link"><%= b.title %></p>
          <%= icon('fas', 'arrow-right') %>
        </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
