<div class="global-content-wrap">
  <div class="sub-navbar">
    <div class="left-links-sub-nav">
      <%= icon('fas', 'less-than') %>
      <span class="subnav-safety-wrap">
        <%= link_to "Back to #{@category.navbar_base_folder.title}", navbar_base_folder_path(@category.navbar_base_folder), class: "sub-nav-home-text" %>
      </span>
    </div>
    <%= icon('fas', 'bars') %>
  </div>
  <div class="scope-test">
    <style scoped>
      .test-load-banner {
      background-image: none;
      }
      @media screen and (min-width: 769px) {
        .test-load-banner {
        background-image: url(<%= cl_image_path(@category.navbar_base_folder.banner.key,  quality: "auto", :crop => :fill, :fetch_format=>:auto)  %>);
        }
      }
    </style>
    <div class="category-image-banner test-load-banner"></div>
  </div>
  <div class="home-page-body-container">
    <div class="wide-screen-resizer">
      <h5 class="category-parent-title"><%= @category.navbar_base_folder.title %></h5>
      <h1 class="category-show-title"><%= @category.title %></h1>
      <p class="category-updated-info"><%= t('sub_category.updated') %> <%= @category.updated_at.strftime("%B %d, %Y - %R") %></p>
      <p class="category-show-description"><%= @category.description %></p>
      <% if @category.has_subcategory %>
          <% if @category.sub_categories.count == 0 %>
          <% else %>
            <div class="cats-wrap-box">
              <% @category.sub_categories.each do |c| %>
                <%= link_to sub_category_path(c), class: "remove-a-style-show-nav" do%>
                  <div class="show-cat-box">
                    <p class="navbase-show-subcatergory-link"> <%= c.title %></p>
                    <%= icon('fas', 'arrow-right') %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
      <% else %>
        <%= render partial: "render_selected_resources", locals: { resources: @all_resources } %>
      <% end %>
    </div>
  </div>
</div>



